@use 'variables' as *;
@use 'typography' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-basic;
  background-color: $color-05;
  color: $color-01;
}

.container {
  width: 100%;
  max-width: $container-width-desktop;
  margin: 0 auto;

  @media (max-width: 1200px) {
    padding: 0 16px;
  }
}

.logo {
  font-family: $font-logo;
}